[ActionPlugins][1]
RightButton;NoModifier=org.kde.latte.contextmenu

[Containments][13]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=10
layoutId=
location=4
maxLength=80
name=bottom-dock
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=1
timerHide=100
timerShow=100
viewType=0
visibility=2
wallpaperplugin=org.kde.image

[Containments][13][Applets][181]
immutability=1
plugin=org.kde.plasma.trash

[Containments][13][Applets][181][Configuration]
PreloadWeight=26

[Containments][13][Applets][183]
immutability=1
plugin=org.kde.placesWidget

[Containments][13][Applets][183][Configuration]
PreloadWeight=81

[Containments][13][Applets][183][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][13][Applets][183][Configuration][General]
showDevices=false
showSearches=false
showTimeline=false
widgetWidth=200

[Containments][13][Applets][184]
immutability=1
plugin=org.kde.plasma.calendar.wl

[Containments][13][Applets][184][Configuration]
PreloadWeight=76

[Containments][13][Applets][184][Configuration][Appearance icon]
bold=false
formatMonth=MMM
icon=application-x-vnd.akonadi.calendar.event
monthHorizontalPosition=-1
monthVerticalPosition=29

[Containments][13][Applets][184][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][13][Applets][191]
immutability=1
plugin=org.kde.latte.separator

[Containments][13][Applets][191][Configuration]
PreloadWeight=26

[Containments][13][Applets][192]
immutability=1
plugin=OSXLaunchpad

[Containments][13][Applets][192][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][13][Applets][192][Configuration][General]
customButtonImage=/home/monterey/Pictures/launchpad.png
favoriteSystemActions=logout,lock-screen
favoritesPortedToKAstats=true
iconSize=128
spaceWidth=64
useCustomButtonImage=true
useCustomSizeGrid=true

[Containments][13][Applets][40]
immutability=1
plugin=org.kde.latte.plasmoid

[Containments][13][Applets][40][Configuration]
PreloadWeight=0

[Containments][13][Applets][40][Configuration][General]
isInLatteDock=true
launchers59=applications:org.kde.dolphin.desktop,applications:org.kde.kate.desktop,applications:firefox.desktop,applications:org.kde.konsole.desktop,applications:org.kde.kcalc.desktop,applications:org.kde.konversation.desktop,applications:org.kde.gwenview.desktop,applications:org.kde.okular.desktop,applications:org.kde.ksysguard.desktop,applications:systemsettings.desktop
manualScrollTasksType=Disabled
scrollTasksEnabled=true

[Containments][13][ConfigDialog]
DialogHeight=904
DialogWidth=539

[Containments][13][Configuration]
PreloadWeight=0

[Containments][13][General]
activeWindowFilter=FromAllScreens
advanced=false
alignment=0
alignmentUpgraded=true
appletOrder=192;40;184;191;183;181
iconSize=48
infoBadgeProminentColorEnabled=true
lastWindowsVisibilityMode=7
maxLength=80
minLength=20
panelSize=100
panelTransparency=35
screenEdgeMargin=8
shadowOpacity=0
shadowSize=45
shadows=All
shadowsUpgraded=true
showGlow=false
splitterPosition=1
splitterPosition2=8
tasksUpgraded=true
zoomLevel=2

[Containments][13][Indicator]
customType=org.kde.latte.win7
enabled=true
enabledForApplets=true
padding=0.08
type=org.kde.latte.default

[Containments][13][Indicator][org.kde.latte.default][General]
activeStyle=Dot
glowApplyTo=OnActive
glowEnabled=true
minimizedTaskColoredDifferently=true
thickMargin=0.06

[Containments][161]
PreloadWeight=0
activityId=
formfactor=2
immutability=1
lastScreen=-1
layoutId=
location=3
plugin=org.kde.plasma.private.systemtray
wallpaperplugin=org.kde.image

[Containments][161][Applets][162]
immutability=1
plugin=org.kde.plasma.keyboardlayout

[Containments][161][Applets][162][Configuration]
PreloadWeight=0

[Containments][161][Applets][163]
immutability=1
plugin=org.kde.kdeconnect

[Containments][161][Applets][163][Configuration]
PreloadWeight=0

[Containments][161][Applets][164]
immutability=1
plugin=org.kde.plasma.notifications

[Containments][161][Applets][164][Configuration]
PreloadWeight=0

[Containments][161][Applets][165]
immutability=1
plugin=org.kde.plasma.keyboardindicator

[Containments][161][Applets][165][Configuration]
PreloadWeight=0

[Containments][161][Applets][166]
immutability=1
plugin=org.kde.plasma.volume

[Containments][161][Applets][166][Configuration]
PreloadWeight=0

[Containments][161][Applets][166][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][161][Applets][167]
immutability=1
plugin=org.kde.plasma.devicenotifier

[Containments][161][Applets][167][Configuration]
PreloadWeight=0

[Containments][161][Applets][168]
immutability=1
plugin=org.kde.plasma.manage-inputmethod

[Containments][161][Applets][168][Configuration]
PreloadWeight=0

[Containments][161][Applets][169]
immutability=1
plugin=org.kde.plasma.clipboard

[Containments][161][Applets][169][Configuration]
PreloadWeight=0

[Containments][161][Applets][170]
immutability=1
plugin=org.kde.plasma.nightcolorcontrol

[Containments][161][Applets][170][Configuration]
PreloadWeight=0

[Containments][161][Applets][171]
immutability=1
plugin=org.kde.plasma.printmanager

[Containments][161][Applets][171][Configuration]
PreloadWeight=0

[Containments][161][Applets][172]
immutability=1
plugin=org.kde.plasma.battery

[Containments][161][Applets][172][Configuration]
PreloadWeight=0

[Containments][161][Applets][173]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][161][Applets][173][Configuration]
PreloadWeight=0

[Containments][161][Applets][174]
immutability=1
plugin=touchpad

[Containments][161][Applets][174][Configuration]
PreloadWeight=0

[Containments][161][Applets][175]
immutability=1
plugin=org.kde.plasma.diskquota

[Containments][161][Applets][175][Configuration]
PreloadWeight=0

[Containments][161][Applets][176]
immutability=1
plugin=org.kde.kscreen

[Containments][161][Applets][176][Configuration]
PreloadWeight=0

[Containments][161][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][161][General]
extraItems=org.kde.plasma.battery,org.kde.plasma.keyboardlayout,org.kde.kdeconnect,org.kde.plasma.notifications,org.kde.plasma.keyboardindicator,org.kde.plasma.volume,org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.networkmanagement,org.kde.plasma.mediacontroller,org.kde.plasma.clipboard,org.kde.plasma.nightcolorcontrol,org.kde.plasma.printmanager,touchpad,org.kde.plasma.manage-inputmethod,org.kde.plasma.diskquota,org.kde.kscreen
hiddenItems=MSM Notifier for Plasma5,org.kde.plasma.mediacontroller,org.kde.plasma.notifications,Package Manager,pentablet,ulauncher,org.kde.plasma.networkmanagement,touchpad,org.kde.plasma.nightcolorcontrol,org.kde.plasma.clipboard,org.kde.plasma.manage-inputmethod,org.kde.plasma.diskquota,org.kde.plasma.volume,org.kde.plasma.battery,org.kde.plasma.bluetooth,org.kde.plasma.devicenotifier,org.kde.kscreen,org.kde.kdeconnect,org.kde.plasma.keyboardlayout,org.kde.plasma.keyboardindicator,Latte Dock_microphone,org.kde.plasma.printmanager,warpinator
knownItems=org.kde.plasma.battery,org.kde.plasma.keyboardlayout,org.kde.kdeconnect,org.kde.plasma.notifications,org.kde.plasma.keyboardindicator,org.kde.plasma.volume,org.kde.plasma.devicenotifier,org.kde.plasma.bluetooth,org.kde.plasma.networkmanagement,org.kde.plasma.mediacontroller,org.kde.plasma.manage-inputmethod,org.kde.plasma.clipboard,org.kde.plasma.nightcolorcontrol,org.kde.plasma.printmanager

[Containments][19]
activityId=
byPassWM=false
dockWindowBehavior=true
enableKWinEdges=true
formfactor=2
immutability=1
isPreferredForShortcuts=false
lastScreen=11
layoutId=
location=3
maxLength=100
name=top-panel
onPrimary=true
plugin=org.kde.latte.containment
raiseOnActivityChange=false
raiseOnDesktopChange=false
settingsComplexity=4
timerHide=700
timerShow=200
viewType=1
visibility=0
wallpaperplugin=org.kde.image

[Containments][19][Applets][116]
immutability=1
plugin=org.kde.plasma.marginsseparator

[Containments][19][Applets][116][Configuration]
PreloadWeight=18

[Containments][19][Applets][116][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][122]
immutability=1
plugin=org.kpple.kppleMenu

[Containments][19][Applets][122][Configuration]
PreloadWeight=100

[Containments][19][Applets][122][Configuration][Advanced]
appStoreSettings=pamac-manager
showAdvancedMode=true

[Containments][19][Applets][122][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][125]
immutability=1
plugin=org.kde.plasma.inlineBattery

[Containments][19][Applets][125][Configuration]
PreloadWeight=100

[Containments][19][Applets][125][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][125][Configuration][General]
showPercentage=false

[Containments][19][Applets][133]
immutability=1
plugin=org.kde.latte.spacer

[Containments][19][Applets][133][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][133][Configuration][General]
containmentType=Latte
lengthPercentage=50
lengthType=Percentage

[Containments][19][Applets][134]
immutability=1
plugin=org.kde.plasma.betterinlineclock

[Containments][19][Applets][134][Configuration]
PreloadWeight=100

[Containments][19][Applets][134][Configuration][Appearance]
customDateFormat=ddd MMM dd\s
dateFormat=customDate
fixedFont=true
fontFamily=SF Pro
fontSize=16
showSeparator=false
use24hFormat=0

[Containments][19][Applets][134][Configuration][ConfigDialog]
DialogHeight=635
DialogWidth=720

[Containments][19][Applets][136]
immutability=1
plugin=org.kde.plasma.networkmanagement

[Containments][19][Applets][136][Configuration]
PreloadWeight=100

[Containments][19][Applets][137]
immutability=1
plugin=org.kde.plasma.volume

[Containments][19][Applets][137][Configuration]
PreloadWeight=100

[Containments][19][Applets][139]
immutability=1
plugin=org.kde.latte.spacer

[Containments][19][Applets][139][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][139][Configuration][General]
containmentType=Latte
lengthPercentage=50
lengthPixels=10
lengthType=Percentage

[Containments][19][Applets][140]
immutability=1
plugin=org.kde.latte.spacer

[Containments][19][Applets][140][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][140][Configuration][General]
containmentType=Latte
lengthPercentage=50
lengthType=Percentage

[Containments][19][Applets][142]
immutability=1
plugin=org.kde.latte.spacer

[Containments][19][Applets][142][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][142][Configuration][General]
containmentType=Latte
lengthPercentage=50
lengthType=Percentage

[Containments][19][Applets][143]
immutability=1
plugin=org.kde.latte.spacer

[Containments][19][Applets][143][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][143][Configuration][General]
containmentType=Latte
lengthPercentage=50
lengthType=Percentage

[Containments][19][Applets][146]
immutability=1
plugin=org.kde.latte.spacer

[Containments][19][Applets][146][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][146][Configuration][General]
containmentType=Latte
lengthPercentage=50
lengthType=Percentage

[Containments][19][Applets][147]
immutability=1
plugin=org.kde.windowbuttons

[Containments][19][Applets][147][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][147][Configuration][General]
buttonSizePercentage=55
buttons=5|3|4|10|2|9
containmentType=Latte
selectedPlugin=org.kde.kwin.aurorae
selectedTheme=__aurorae__svg__Monterey
spacing=10
useCurrentDecoration=false
useDecorationMetrics=false
visibility=ActiveMaximizedWindow

[Containments][19][Applets][160]
immutability=1
plugin=org.kde.plasma.systemtray

[Containments][19][Applets][160][Configuration]
PreloadWeight=100
SystrayContainmentId=161

[Containments][19][Applets][177]
immutability=1
plugin=org.kde.latte.spacer

[Containments][19][Applets][177][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][177][Configuration][General]
containmentType=Latte
lengthPercentage=50
lengthType=Percentage

[Containments][19][Applets][190]
immutability=1
plugin=org.kde.milou

[Containments][19][Applets][190][Configuration]
PreloadWeight=100

[Containments][19][Applets][190][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][200]
immutability=1
plugin=org.kde.windowtitle

[Containments][19][Applets][200][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][200][Configuration][General]
appMenuIsPresent=true
containmentType=Latte
filterActivityInfo=false
placeHolder=<b>Finder</b> &#009; &#009; &#009; &#009; &#009; &#009; File &#009; &#009; &#009; &#009; Edit &#009; &#009; &#009; &#009; View &#009; &#009; &#009; &#009; Go &#009; &#009; &#009; &#009; Tools &#009; &#009; &#009; &#009; Settings &#009; &#009; &#009; &#009; Help
showIcon=false

[Containments][19][Applets][201]
immutability=1
plugin=org.kde.windowappmenu

[Containments][19][Applets][201][Configuration][ConfigDialog]
DialogHeight=540
DialogWidth=720

[Containments][19][Applets][201][Configuration][General]
containmentType=Latte
showWindowTitleOnMouseExit=true
supportsActiveWindowSchemes=true
windowTitleIsPresent=true

[Containments][19][ConfigDialog]
DialogHeight=1254
DialogWidth=529

[Containments][19][Configuration]
PreloadWeight=0

[Containments][19][General]
advanced=true
alignment=10
alignmentUpgraded=true
appletOrder=133;122;147;200;201;116;125;177;137;139;136;140;190;146;160;142;134;143
appletShadowsEnabled=false
autoDecreaseIconSize=false
autoSizeEnabled=false
configurationSticker=true
disablePanelShadowForMaximized=true
dragActiveWindowEnabled=true
floatingInternalGapIsForced=false
iconSize=28
inConfigureAppletsMode=true
mouseWheelActions=false
panelPosition=10
panelShadows=false
panelSize=100
panelTransparency=60
plasmaBackgroundForPopups=true
shadowOpacity=25
shadows=None
shadowsUpgraded=true
solidBackgroundForMaximized=true
splitterPosition=6
splitterPosition2=7
taskScrollAction=ScrollNone
tasksUpgraded=true
thickMargin=2
titleTooltips=false
windowColors=ActiveWindowColors
zoomLevel=0

[Containments][19][Indicator]
customType=org.kde.latte.unity
enabled=true
enabledForApplets=true
padding=0.09000000357627869
type=org.kde.latte.plasma

[Containments][19][Indicator][org.kde.latte.default][General]
reversed=true

[Containments][19][Indicator][org.kde.latte.plasma][General]
lengthPadding=0.2

[LayoutSettings]
activities=
background=
backgroundStyle=0
color=black
customBackground=
customTextColor=333333
disableBordersForMaximizedWindows=true
icon=folder-apple
lastUsedActivity=
launchers=
popUpMargin=-1
preferredForShortcutsTouched=false
schemeFile=
showInMenu=true
textColor=333333
version=2
